# Python cache
**/__pycache__/
*.pyc
*.pyo

# Compiled extensions
*.so
*.dll
*.dylib

# Cython-generated C/C++ sources
*.cpp
*.c

# Egg metadata
*.egg-info/

# Build / bin folders
bin/
svv/bin/

# Test cache
test/__pycache__/
